* {
    font-family: "Tahoma", sans-serif;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 16px 128px;
    font-size: 18px;
    color: #E5E7EB;
}

header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 16px;
}

.logo {
    flex: 1;
}

.logo h1 {
    font-size: 24px;
    color: #F9FAF8;
}

header h2 {
    font-size: 48px;
    color: #F9FAF8;
}

.hero-content {
    margin: 64px 0px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.hero-left {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.hero-right {
    background-color: #607080;
    width: 450px;
    height: 200px;
    flex: 0 0 auto;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    width: 128px;
    border: 0px;
    padding: 8px;
}

.information {
    padding: 32px 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
}

.info-cards {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
    margin: 32px;
}

.card {
    width: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #3F4957;
    gap: 8px;
}

.card img {
    width: 192px;
    height: 192px;
    border: 4px solid #3882F6;
    border-radius: 16px;
    box-sizing: border-box;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 48px 128px;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1250px;
    margin: auto;
    color: #1F2937;
    gap: 16px;
}

blockquote {
    font-style: italic;
    font-weight: lighter;
    font-size: 36px;
}

cite {
    margin-left: auto;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
}